<table class="Total" style="border:2px solid; width:30%">
    <tr>
        <th>
            @Html.DisplayName("Total Expense");
        </th>
     </tr>
    <tr>
        <td>
            <div>(@ViewBag.amount)</div>
        </td>
    </tr>
</table>
